name: OpenBSD

on:
  schedule:
    - cron:  '0 1 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      UNAME: ${{ matrix.os }}
      VERSION: ${{ secrets.VERSION }}
      ARCH: ${{ matrix.target }}
      SUFFIX: ${{ matrix.suffix }}
      LINKFLAGS: ${{ matrix.linkflags }}
      ROSWELL_BRANCH: master
      GITHUB_OAUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      fail-fast: false
      matrix:
        suffix: ['', '-7.6', '-7.5', '-7.4', '-7.3', '-7.2', '-7.1', '-6.9']
        target: [x86-64, arm64]
        include:
          - lisp: 'sbcl-bin/2.4.0'
            os: openbsd
          - { suffix: ''     ,release: '7.6'}
          - { suffix: '-6.9' ,release: '6.9'}
          - { suffix: '-7.1' ,release: '7.1'}
          - { suffix: '-7.2' ,release: '7.2'}
          - { suffix: '-7.3' ,release: '7.3'}
          - { suffix: '-7.4' ,release: '7.4'}
          - { suffix: '-7.5' ,release: '7.5'}
          - { suffix: '-7.6' ,release: '7.6'}
  
    environment: SET_VERSION

    steps:
      - uses: actions/checkout@v4
      - name: setenv
        run: |
          echo "$HOME/.roswell/bin" >> $GITHUB_PATH
          echo "ROSWELL_BRANCH=release" >> $GITHUB_ENV
      - name: checkenv
        run: |
          uname -s
          uname -m
          echo $ROSWELL_INSTALL_DIR
          echo $ROSWELL_BRANCH
      - name: Install Roswell
        env:
          LISP: ${{ matrix.lisp }}
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
          ros install snmsts/sn.github
          make latest-version zstd sbcl
      - name: check uploaded
        id: check_uploaded
        env:
          VERSION: ${{ secrets.VERSION }}
          ARCH: ${{ matrix.target }}
          IMAGE: ${{ matrix.image }}
          SUFFIX: ${{ matrix.suffix }}
        run: make latest-version upload-archive-p
        continue-on-error: true
      - name: Config on ${{ matrix.os }}
        if: ${{ steps.check_uploaded.outcome == 'failure' || github.event_name != 'schedule' }}
        uses: cross-platform-actions/action@595d543e5d1aeb6d48c0a176965028afe56c7018
        with:
          environment_variables: VERSION ARCH IMAGE SUFFIX LINKFLAGS GH_USER GH_REPO GITHUB_OAUTH_TOKEN
          operating_system: ${{ matrix.os }}
          architecture: ${{ matrix.target }}
          version: ${{ matrix.release }}
          shell: bash
          run: |
            sudo touch /usr/bin/ros
            sudo chmod 755 /usr/bin/ros
            sudo pkg_add gmake
            LISP_IMPL='ros run' gmake latest-version compile-config
      - name: make-host-1
        if: ${{ steps.check_uploaded.outcome == 'failure' || github.event_name != 'schedule' }}
        run: |
          bash -c "cd sbcl;sh make-host-1.sh"
      - name: build-runtime on ${{ matrix.os }}
        if: ${{ steps.check_uploaded.outcome == 'failure' || github.event_name != 'schedule' }}
        uses: cross-platform-actions/action@595d543e5d1aeb6d48c0a176965028afe56c7018
        with:
          environment_variables: VERSION ARCH IMAGE SUFFIX LINKFLAGS GH_USER GH_REPO GITHUB_OAUTH_TOKEN
          operating_system: ${{ matrix.os }}
          architecture: ${{ matrix.target }}
          version: ${{ matrix.release }}
          shell: bash
          run: |
            sudo touch /usr/bin/ros
            sudo chmod 755 /usr/bin/ros
            sudo pkg_add gmake
            sudo bash -c 'cd zstd/lib; gmake PREFIX=/usr CFLAGS="-fPIC" install-includes install-static clean'
            cd sbcl;sh make-target-1.sh
      - name: make-host2
        if: ${{ steps.check_uploaded.outcome == 'failure' || github.event_name != 'schedule' }}
        run: |
          bash -c "cd sbcl;sh make-host-2.sh"
      - name: build-target2 and contrib on ${{ matrix.os }}
        if: ${{ steps.check_uploaded.outcome == 'failure' || github.event_name != 'schedule' }}
        uses: cross-platform-actions/action@595d543e5d1aeb6d48c0a176965028afe56c7018
        with:
          environment_variables: VERSION ARCH IMAGE SUFFIX LINKFLAGS GH_USER GH_REPO GITHUB_OAUTH_TOKEN
          operating_system: ${{ matrix.os }}
          architecture: ${{ matrix.target }}
          version: ${{ matrix.release }}
          shell: bash
          run: |
            sudo touch /usr/bin/ros
            sudo chmod 755 /usr/bin/ros
            sudo pkg_add gmake
            bash -c "cd sbcl;sh make-target-2.sh && sh make-target-contrib.sh"
            gmake compile-9
      - name: upload
        if: ${{ steps.check_uploaded.outcome == 'failure' || github.event_name != 'schedule' }}
        env:
          GITHUB_OAUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ secrets.VERSION }}
          ARCH: ${{ matrix.target }}
          IMAGE: ${{ matrix.image }}
          SUFFIX: ${{ matrix.suffix }}
          LINKFLAGS: ${{ matrix.linkflags }}
          DOCKER_PLATFORM: ${{ matrix.docker-platform }}
          DOCKER_IMAGE_SUFFIX: ${{ matrix.docker-image-suffix }}
        run: |
          OS=${{ matrix.os }} make latest-version archive
          ls
          env FILE=`ls *.bz2` make latest-version upload-archive
