name: windows

on:
  push:
  #pull_request:
  #schedule:
  #  - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, i686]
        include:
        - arch: x86_64
          arch2: amd64
          bit: 64
          target: x86-64
        - arch: i686
          arch2: i686
          bit: 32
          target: x86
    env:
      RESULT_NAME: windows-${{ matrix.arch2 }}
      RESULT_PATH: windows-${{ matrix.arch2 }}
      RESULT_PATH_SUB: roswell
      SBCL_OPTIONS: 
      ARCH: ${{ matrix.target }}
      VERSION: ${{ secrets.VERSION }}
      GITHUB_OAUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    environment: SET_VERSION

    steps:
    - run: git config --global core.autocrlf false
    - uses: actions/checkout@v2
    - uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW${{ matrix.bit }}
        path-type: inherit
        release: true
        update: true
        install: 'base-devel mingw-w64-${{ matrix.arch }}-toolchain curl'
    - name: Run MSYS2 once
      shell: msys2 {0}
      run: |
        pwd
        echo $MSYSTEM
        echo $MSYS2_PATH_TYPE
        echo $PATH
    - name: install roswell
      shell: msys2 {0}
      run: |
        gcc -v
        curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
        ros install snmsts/sn.github
    - name: build sbcl
      shell: msys2 {0}
      run: |
        if [ "$VERSION" = "" ]; then
          make latest-version archive;
        else
          make archive;
        fi
    - name: upload
      shell: msys2 {0}
      run: |
        if [ "$VERSION" = "" ]; then
          make latest-version upload-archive;
        else
          make upload-archive;
        fi
